<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/owl.carousel.css">
    <link rel="stylesheet" href="./public/css/owl.theme.default.css">
    <link rel="stylesheet" href="public/sass/main.css">
    <title>INICIO</title>
</head>

<body>
    <header>
        <a href=""><img src="public/images/logo.svg" alt=""></a>
    </header>

    <div class="contenedor2">
        <div class="container">
                    <p class="titlePremios">catálago de <span>premios</span></p>
                    <!-- revista -->
                    <div class="revista owl-carousel owl-theme-default">
                        <div class="item">
                            <img src="./public/images/1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./public/images/1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./public/images/1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./public/images/1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./public/images/1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./public/images/1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./public/images/1.jpg" alt="">
                        </div>
                    </div>
                    <!-- fin revista -->
        </div> <!-- container -->

        <div class="modalPaginationPremios">
            <div class="container">
                <div class="closePagination">
                    <button><img src="public/images/times-solid.svg" alt=""></button>
                </div>
                <div class="row">
                    <div class="col-4 pr-0 pt-3 itemp">
                        <a href=""><img src="./public/images/1.jpg" class="w-100" alt=""></a>
                    </div>
                    <div class="col-4 pr-0 pt-3 itemp">
                        <a href=""><img src="./public/images/1.jpg" class="w-100" alt=""></a>
                    </div>
                    <div class="col-4 pr-0 pt-3 itemp">
                        <a href=""><img src="./public/images/1.jpg" class="w-100" alt=""></a>
                    </div>
                    <div class="col-4 pr-0 pt-3 itemp">
                        <a href=""><img src="./public/images/1.jpg" class="w-100" alt=""></a>
                    </div>
                    <div class="col-4 pr-0 pt-3 itemp">
                        <a href=""><img src="./public/images/1.jpg" class="w-100" alt=""></a>
                    </div>
                    <div class="col-4 pr-0 pt-3 itemp">
                        <a href=""><img src="./public/images/1.jpg" class="w-100" alt=""></a>
                    </div>
                    <div class="col-4 pr-0 pt-3 itemp">
                        <a href=""><img src="./public/images/1.jpg" class="w-100" alt=""></a>
                    </div>
                    <div class="col-4 pr-0 pt-3 itemp">
                        <a href=""><img src="./public/images/1.jpg" class="w-100" alt=""></a>
                    </div>
                    <div class="col-4 pr-0 pt-3 itemp">
                        <a href=""><img src="./public/images/1.jpg" class="w-100" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

    </div>


<div class="premios">
                        <!-- barra de revista -->
                        <div class="bar-revista">
                            <a href=""><img src="./public/images/downloader.png" alt=""> <span>Descargar</span></a>
                            <button class="btn btn-link" id="togglePagesRevista"><img src="./public/images/paginas.png" alt="">
                                <span>Paginas</span></button>
                            <div class="pagination-revista">
                                <a href="" ng-click="premiosNext()">
                                    <i class="icon angle left"></i>
                                </a>
                                <span id="pagination-premios">00 / 00</span>
                                <a href="" ng-click="premiosPrev()">
                                    <i class="icon angle right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- fin de la barra -->
</div>
    <div class="toolbar-actions">
        <button class="openContacto">
            <img src="public/images/chat.svg" alt="">
            <span>Contáctanos</span>
        </button>
    </div>

<!-- menu -->
<div class="menu2">
    <svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 272">
        <title>menu-items</title>
        <path class="cls-1"
            d="M360,31.89V217.56H125.5a21,21,0,0,0-21,21v21.81A11.62,11.62,0,0,1,92.87,272H0V31.89A29.33,29.33,0,0,1,29.33,2.56H330.67A29.33,29.33,0,0,1,360,31.89Z" />
        <text class="cls-2" transform="translate(154.43 32.49)">MENÚ</text>
        <a xlink:href="colecciones.html">
            <text class="cls-7 active" transform="translate(49.92 65.88)">
                <tspan class="cls-4 active">Colecciones</tspan>
            </text>
        </a>
        <a xlink:href="premios.html">
            <text class="cls-7" transform="translate(49.92 101.89)">
                <tspan class="cls-8">Premios</tspan>
            </text>
        </a>
        <a href="collages.html">
            <text class="cls-7" transform="translate(49.92 137.91)">
                <tspan class="cls-4">Collages</tspan>
            </text>
        </a>
        <a xlink:href="contacto.html">
            <text class="cls-7" transform="translate(49.92 173.92)">
                <tspan class="cls-4">Contactos</tspan>
            </text>
        </a>
        <a id="closeMenu">
            <line class="cls-11" x1="78.52" y1="236.42" x2="68.79" y2="246.14" />
            <line class="cls-11" x1="78.52" y1="246.14" x2="68.79" y2="236.42" /><text class="cls-12"
                transform="translate(58.64 258.41)">
                <tspan class="cls-13">Cerrar</tspan>
        </a>
        </text>
    </svg>
</div>

<!-- tabs -->
<div class="tabs">
    <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 50">
        <title>menu</title>
        <path class="cls-1 active"
            d="M175.48,50H90.89a9.83,9.83,0,0,0,9.79-8.93,8.28,8.28,0,0,0,0-.9V16.48a16.58,16.58,0,0,1,.19-2.47c0-.27.09-.54.14-.8a16.71,16.71,0,0,1,.52-1.93,16.47,16.47,0,0,1,1.5-3.22c.14-.22.28-.44.42-.66s.45-.64.69-.95A16.37,16.37,0,0,1,105.48,5,16.18,16.18,0,0,1,116.14.25l.79,0h32.47l.84,0A16.18,16.18,0,0,1,160.88,5a16.37,16.37,0,0,1,1.3,1.46c.24.31.47.62.69.95s.28.43.42.66a16.47,16.47,0,0,1,1.5,3.22,16.71,16.71,0,0,1,.52,1.93c.05.26.1.53.14.8a16.58,16.58,0,0,1,.19,2.47V40.17a8.28,8.28,0,0,0,0,.9A9.83,9.83,0,0,0,175.48,50Z" />
        <path class="cls-1"
            d="M259.48,50h-84.6a9.83,9.83,0,0,0,9.79-8.93,8.28,8.28,0,0,0,0-.9V16.48a16.58,16.58,0,0,1,.19-2.47c0-.27.09-.54.14-.8a16.71,16.71,0,0,1,.52-1.93,16.47,16.47,0,0,1,1.5-3.22c.14-.22.28-.44.42-.66s.45-.64.69-.95A16.37,16.37,0,0,1,189.48,5,16.18,16.18,0,0,1,200.14.25l.79,0h32.47l.84,0A16.18,16.18,0,0,1,244.88,5a16.37,16.37,0,0,1,1.3,1.46c.24.31.47.62.69.95s.28.43.42.66a16.47,16.47,0,0,1,1.5,3.22,16.71,16.71,0,0,1,.52,1.93c.05.26.1.53.14.8a16.58,16.58,0,0,1,.19,2.47V40.17a8.28,8.28,0,0,0,0,.9A9.83,9.83,0,0,0,259.48,50Z" />
        <path class="cls-1"
            d="M353.48,50h-84.6a9.83,9.83,0,0,0,9.79-8.93,8.28,8.28,0,0,0,0-.9V16.48a16.58,16.58,0,0,1,.19-2.47c0-.27.09-.54.14-.8a16.71,16.71,0,0,1,.52-1.93,16.47,16.47,0,0,1,1.5-3.22c.14-.22.28-.44.42-.66s.45-.64.69-.95A16.37,16.37,0,0,1,283.48,5,16.18,16.18,0,0,1,294.14.25l.79,0h32.47l.84,0A16.18,16.18,0,0,1,338.88,5a16.37,16.37,0,0,1,1.3,1.46c.24.31.47.62.69.95s.28.43.42.66a16.47,16.47,0,0,1,1.5,3.22,16.71,16.71,0,0,1,.52,1.93c.05.26.1.53.14.8a16.58,16.58,0,0,1,.19,2.47V40.17a8.28,8.28,0,0,0,0,.9A9.83,9.83,0,0,0,353.48,50Z" />
        <g class="cls-2">
            <text class="cls-3 active" id="toggleMenu" transform="translate(16.65 47.8)">Menú</text>
            <path class="cls-4" d="M56.38,6.65H32.27a1.88,1.88,0,0,1,0-3.77H56.38a1.88,1.88,0,1,1,0,3.77Z" />
            <path class="cls-4" d="M56.38,16.17H32.27a1.88,1.88,0,0,1,0-3.77H56.38a1.88,1.88,0,1,1,0,3.77Z" />
            <path class="cls-4" d="M56.38,25.68H32.27a1.88,1.88,0,0,1,0-3.77H56.38a1.88,1.88,0,1,1,0,3.77Z" />
        </g>
        <a xlink:href="index.html">
            <g class="cls-2">
                <path class="cls-4 active"
                    d="M141.82,29.17H124.54a1.8,1.8,0,0,1-1.8-1.8V18.55h-1.11a1.8,1.8,0,0,1-1.28-3.08L131.91,3.92a1.85,1.85,0,0,1,2.55,0L146,15.47a1.8,1.8,0,0,1-1.27,3.08h-1.11v8.81A1.8,1.8,0,0,1,141.82,29.17ZM125,26.9h16.35V18.09a1.8,1.8,0,0,1,1.8-1.8h.45L133.18,5.85,122.75,16.29h.45a1.8,1.8,0,0,1,1.8,1.8Z" />
                <text class="cls-5 active" transform="translate(112.37 47.37)">Inicio</text>

            </g>
        </a>
        <a xlink:href="oficina.html">
            <g class="cls-2"><text class="cls-6" transform="translate(165.33 47.35)">
                    <tspan x="15.28" y="0">Oficina</tspan>
                </text>
                <g id="_Grupo_" data-name="&lt;Grupo&gt;">
                    <path class="cls-4"
                        d="M222,4.91V6.08H212V4.91a1.5,1.5,0,0,1,1.5-1.5h7.08A1.5,1.5,0,0,1,222,4.91Z" />
                    <g id="_Grupo_2" data-name="&lt;Grupo&gt;">
                        <path class="cls-4"
                            d="M230.71,18.32v4.88a2.39,2.39,0,0,1-2.38,2.38H205.67a2.39,2.39,0,0,1-2.38-2.38V18.32a7.84,7.84,0,0,0,4.21,1.21h2.09V21.2a1.33,1.33,0,0,0,1.33,1.33H213a1.33,1.33,0,0,0,1.33-1.33V19.54h5.38V21.2A1.33,1.33,0,0,0,221,22.53h2.06a1.33,1.33,0,0,0,1.33-1.33V19.54h2.09A7.85,7.85,0,0,0,230.71,18.32Z" />
                        <path class="cls-4"
                            d="M230.71,8.5v7.82a6.25,6.25,0,0,1-4.21,1.62h-2.09v-.78a1.33,1.33,0,0,0-1.33-1.33H221a1.33,1.33,0,0,0-1.33,1.33v.78h-5.38v-.78A1.33,1.33,0,0,0,213,15.84h-2.06a1.33,1.33,0,0,0-1.33,1.33v.78H207.5a6.25,6.25,0,0,1-4.21-1.62V8.5a.83.83,0,0,1,.83-.83h25.77A.83.83,0,0,1,230.71,8.5Z" />
                    </g>
        </a>
        <g id="_Grupo_3" data-name="&lt;Grupo&gt;">
            <g id="_Grupo_4" data-name="&lt;Grupo&gt;">
                <rect class="cls-4" x="211.18" y="17.43" width="1.53" height="3.5" />
            </g>
            <g id="_Grupo_5" data-name="&lt;Grupo&gt;">
                <rect class="cls-4" x="221.28" y="17.43" width="1.53" height="3.5" />
            </g>
        </g>
        </g>
        </g>
        <a xlink:href="search.html">
            <g class="cls-2"><text class="cls-8" transform="translate(281.66 47.78)">Buscar</text>
                <path class="cls-4"
                    d="M316.91,21.81a11.12,11.12,0,1,1,0-15.72A11.13,11.13,0,0,1,316.91,21.81ZM303.5,8.41a7.84,7.84,0,1,0,11.09,0A7.85,7.85,0,0,0,303.5,8.41Z" />
                <path class="cls-4"
                    d="M323.22,28.12a1.82,1.82,0,0,1-2.57-.06l-5.51-5.51A1.78,1.78,0,1,1,317.65,20l5.51,5.51A1.82,1.82,0,0,1,323.22,28.12Z" />
            </g>
        </a>
    </svg>
</div>
    
    <script src="./public/js/jquery-3.4.1.min.js"></script>
    <script src="./public/js/owl.carousel.min.js"></script>
    <script src="./public/js/main.js"></script>
</body>

</html>