.contacto
    width: 100%
    height: 100vh
    overflow-x: hidden
    overflow-y: auto
    position: relative
    .info-contacto
        padding: 10px 20px
        position: fixed
        bottom: 0
        left: 0
        text-align: center
        color: $textmenu
        font-family: $montserrat
        font-size: small
        font-weight: 400
        p
            padding: 0
            margin: 0
            a
                font-weight: 600
                color: transparentize(#d90466, .5)
        .textp
            color: transparentize(#d90466, .5)
    .contactTitle
        color: #d90466
        font-family: $montserrat
        font-weight: 800
        text-align: center
        text-transform: uppercase
    .formContact
        text-align: center
        .form-control
            border: none
            background: #eeeeee
            color: $textmenu
            font-family: $montserrat
            font-weight: 600
            text-align: center
            &::placeholder
                color: #bbb
        .btn-primary
            background-color: #d90466
            border-color: #d90466
            text-transform: uppercase
            letter-spacing: 3px
            font-family: $montserrat
            font-weight: 500
            margin-top: -60px
.ubication
    color: #d90466
    text-decoration: none
    font-family: $montserrat
    font-weight: 600
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.toolbarContacto
    width: 100%
    height: 50px
    text-align: right
    padding: 20px
    margin-bottom: 10%
    button
        width: 20px
        height: 20px
        background: none
        border: none
        padding: 0
        margin: 0
        &:focus
            outline: none
